* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: "Roboto", sans-serif; */

:root {
  --basic: #3c3c3c;
  --barndColor: rgb(250, 190, 76);
}
/* style share */
.btn a {
  padding: 18px 34px;
  background-image: linear-gradient(rgb(164, 188, 70), rgb(133, 160, 25));
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  color: #ffffff;
}
.btn a i {
  margin-right: 5px;
}
/* nav section start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 200px 40px 200px;
  background-color: rgb(255, 251, 240);
}
nav .logo {
  height: 60px;
}
nav .logo img {
  height: 100%;
}
nav .menu_bar_icon{
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
nav ul > li a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--basic);
  padding: 10px;
}
/* nav section end */

/* banner section start */
#banner {
  background-color: rgb(255, 251, 240);
  padding: 12px 200px 40px 200px;
}
#banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
#banner .container .banner_txt {
  width: 50%;
}
#banner .container .banner_txt h1 {
  font-size: 80px;
  font-weight: 700;
  color: var(--barndColor);
}
#banner .container .banner_txt h1 span {
  color: #363958;
}
#banner .container .banner_txt p {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 357px;
  font-size: 1rem;
  color: var(--basic);
}
#banner .container .banner_img {
  width: 50%;
  position: relative;
}
#banner .container .banner_img .mask {
  position: absolute;
  top: -74px;
  left: 20px;
}

#banner .container .banner_img img {
  height: 100%;
}
/* banner section end */

/* women section start */
#women {
  padding: 50px 200px 40px 200px;
}
#women .container .womenParent {
  display: grid;
  gap: 66px;
  grid-template-columns: repeat(3, 1fr);
}
#women .container h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--basic);
  margin-bottom: 32px;
}
#women .container .womenParent .child1 {
  padding: 12px 12px 23px 12px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#women .container .womenParent .child1 h4 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 17px;
}
#women .container .womenParent .child1 p {
  margin-top: 13px;
  margin-bottom: 12px;
  font-size: 16px;
  color: rgb(62, 62, 62);
}
#women .container .womenParent .child1 h5 {
  font-size: 36px;
  font-weight: 900;
  color: var(--barndColor);
}
#women .container .womenParent .child1 .child2 {
  padding: 22px 20px;
  border-radius: 20px;
  width: 433px;
  height: 441px;
  background: rgb(241, 241, 241);
}
#women .container .womenParent .child1 .child2 img {
  height: 100%;
}
#women .container .womenParent .child1 .img2 {
  padding: 27px 66px !important;
}
#women .container .womenParent .card_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* women section end */
/* women section start */
#men {
  padding: 50px 200px 40px 200px;
}
#men .container .womenParent {
  display: grid;
  gap: 66px;
  grid-template-columns: repeat(3, 1fr);
}
#men .container h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--basic);
  margin-bottom: 32px;
}
#men .container .womenParent .child1 {
  padding: 12px 12px 23px 12px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#men .container .womenParent .child1 h4 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 17px;
}
#men .container .womenParent .child1 p {
  margin-top: 13px;
  margin-bottom: 12px;
  font-size: 16px;
  color: rgb(62, 62, 62);
}
#men .container .womenParent .child1 h5 {
  font-size: 36px;
  font-weight: 900;
  color: var(--barndColor);
}
#men .container .womenParent .child1 .child2 {
  padding: 22px 48px;
  border-radius: 20px;
  width: 433px;
  height: 441px;
  background: rgb(241, 241, 241);
}
#men .container .womenParent .child1 .child2 img {
  height: 100%;
}
#men .container .womenParent .child1 .img2 {
  padding: 27px 66px !important;
}
#men .container .womenParent .card_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* women section end */

/* footer section start */
footer {
  padding: 50px 200px 40px 200px;
}

footer .container {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
footer .container .foot .footer_txt {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  margin-bottom: 16px;
}
footer .container .foot .footer_txt .footTxt h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--basic);
}
footer .container .foot .footer_txt .footTxt p {
  font-size: 16px;
  font-weight: 400;
  color: var(--basic);
  margin-top: 14px;
}
/* footer section end */

@media screen and (max-width: 576px) {
  nav {
    padding: 20px 20px 40px 20px;
    gap:20px;
  }
  nav ul {
	display: none;
}
nav .menu_bar_icon{
  display: block;
  font-size: 24px;
  cursor: pointer;
}

/* banner part */
#banner {
  padding: 0px 20px 40px 20px;
}
#banner .container .banner_txt h1 {
  font-size: 40px;
}
#banner .container .banner_txt h1 br{
  display: none;
}
#banner .container {
	flex-direction: column;
  gap:50px;
}
#banner .container .banner_txt {
	width: 100%;
}
#banner .container .banner_txt p {
	width: 100%;
}
#banner .container .banner_img {
	width: 100%;
}
#banner .container .banner_img .mask {
	top: -35px;
	left: 10px;
}


/* women jacket part */
#women {
  padding: 20px 20px 40px 20px;
}
#women .container .womenParent {
	display: grid;
	gap: 66px;
	grid-template-columns: repeat(1, 1fr);
}
#women .container .womenParent .child1 .child2 {
	width: 100%;
	height: fit-content;
}


/* men jacket part */
#men {
  padding: 20px 20px 40px 20px;
}
#men .container .womenParent {
	display: grid;
	gap: 66px;
	grid-template-columns: repeat(1, 1fr);
}
#men .container .womenParent .child1 .child2 {
	width: 100%;
	height: fit-content;
}

/* footer part */
footer {
  padding: 20px 20px 40px 20px;
}
footer .container {
	gap: 50px;
	grid-template-columns: repeat(1, 1fr);
}
footer .container .foot .footer_txt {
	padding: 10px 20px;
}
}
